/* src/App.css */
.App {
  background-color: #f8f8f8; /* Modern light-gray background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Make sure the main content area grows to push the footer down */
main {
  flex-grow: 1;
  padding-bottom: 40px;
}